 <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>

    <%= f.input :terms_of_service, :as => :boolean %> 

    <%= f.input :business_name,:required => true, label: 'Business Name' %>

    <%= f.input :first_name,:required => true, label: 'First Name' %>
    <%= f.input :last_name,:required => true, label: 'Last Name' %>

    <%= f.association :skills %>
    
    <%= f.input :address_1,:required => true, label: 'Address1' %>
    <%= f.input :address_2, label: 'Adress2' %>
    <%= f.input :city,:required => true, label: 'City' %>
    <%= f.input :state,:required => true, label: 'State' %>
    <%= f.input :postal_code,:required => true, label: 'Postal Code' %>
    <%= f.input :contact_phone, label: 'Contact Phone' %>
    <%= f.input :cell_phone, label: 'Cell Phone' %>

    <%= f.fields_for :schedule do |schedule| %>  
        <div>
            <%= schedule.label :days, "Available Days" %>
            <%= schedule.check_box :days %>
        </div>
         <div>
            <%= schedule.label :nights, "Available Nights" %>
            <%= schedule.check_box :nights %> 
        </div>
         <div>
            <%= schedule.label :weekends, "Available Weekends" %>
            <%= schedule.check_box :weekends %>
        </div>
    <% end %>

</div>