<% content_for :head do %>
    <%= stylesheet_link_tag "sign_up" %>
<% end %>

<div class="signup_box">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put },  :validate => true) do |f| %>

    <%#= f.error_notification %>
    <%= render :partial => 'shared/error_messages', :locals => {:target => resource}%>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <!-- First Div start -->
    <div class="sign_up_in">
       <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <div class="sing_up_r">

          <div class="sing_up_cell1">
            <p>Email</p>
            <%= f.email_field :email %>
          </div>

          <div class="sing_up_cell1">
            <p>Business name</p>
              <%= f.text_field :business_name %>
          </div>

          <div class="clear"></div>
        </div>

        <div class="sing_up_r">
          <div class="sing_up_cell1">
            <p>Password <i class='info_message'>(leave blank if you don't want to change it)</i></p>
            <%= f.password_field :password, :required => true %>

          </div>
          <div class="sing_up_cell1">
            <p>Password confirmation</p>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="clear"></div>
        </div>
        
        <div class="sing_up_r">
          <div class="sing_up_cell1">
            <p>First name</p>
           <%= f.text_field :first_name %>
          </div>
          <div class="sing_up_cell1">
            <p>Last name</p>
              <%= f.text_field :last_name %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="sing_up_r">
          <div class="sing_up_cell1">
            <p>Address 1</p>
             <%= f.text_field :address_1 %>
          </div>
          <div class="sing_up_cell1">
            <p>Address 2 </p>
          <%= f.text_field :address_2 %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="sing_up_r">
          <div class="sing_up_cell1">
            <p>City</p>
           <%= f.text_field :city %>
          </div>
          <div class="sing_up_cell1">
            <p>State</p>
           <%= f.text_field :state %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="sing_up_r">
          <div class="sing_up_cell1">
            <p>Postal code</p>
            <%= f.text_field :postal_code, data: {autocomplete_source: zipcodes_path} %>
          </div>

          <div class="sing_up_cell1">
            <p>Contact phone</p>
            <%= f.text_field :contact_phone %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="sing_up_r">
          <div class="sing_up_cell1">
            <p>Current Password</p><i class='info_message'>(we need your current password to confirm your changes)</i>
             <%= f.password_field :current_password %>
          </div>

          <div class="sing_up_cell1">
            <p>Cell phone</p>
            <%= f.text_field :cell_phone %>
          </div>
          <div class="clear"></div>
        </div>

    </div>
    <!-- First Div End -->

<!-- Second Div start -->
    <div class="sign_up_in">
        <% if  current_user.business_user? || current_user.premium_user? %>
            <div class="sing_up_cell1 curve_box">
              <h2>Skills</h2>
              <div class="sing_up_r">    
                <%= f.text_field :skill_tokens , :data => {:load => resource.skills} %>
              </div>
            </div>
        <% end %>    

        <div class="sing_up_cell1 curve_box">
          <%= f.fields_for :schedule do |schedule| %>  
            <h2>Schedule</h2>
            <div class="sing_up_r">     
              <label>
                <%= schedule.check_box :days %> Available Days
              </label>
            </div>
            <div class="sing_up_r">
              <label>    
                 <%= schedule.check_box :nights %>  Available Nights  
              </label>
            </div>
            <div class="sing_up_r"> 
             <label>   
              <%= schedule.check_box :weekends %> Available Weekends
             </label>
            </div>
          <% end %> 
        </div>
      
        <div class="clear"></div>
    </div>
<!-- Second Div End -->

    <div class="sign_up_in">
        <div class="login_btn_r">
            <%= f.button :submit, "Save Changes" ,:class=>"btn_r1" %>
        </div>
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

        <%= link_to "Back", :back %>

    </div>
  <%end%>  
</div>




<script>
    $(function(){
        
       limit =  "<%= token_limit(current_user) %>"

       if (limit == 'null')
           {token_limit = null}
       else if (limit == 1)
           {token_limit = 1}
       else
           {token_limit = 0 }

      $("#user_skill_tokens").tokenInput("/skills/autocomplete",
        { queryParam: 'term' ,
          propertyToSearch: "name",
          theme: "facebook" ,
          tokenLimit: token_limit ,
          prePopulate: $("#user_skill_tokens").data('load')
        });
    
      $(".token-input-list-facebook").siblings(".tooltip-validate").css("margin-left","405px");

    });



</script>
