<div class="signup">
	<h2>Sign up</h2>

	<% resource.build_schedule %>

	<%= form_for(resource, :controllers => {:registrations => "newregistrations" }, :as => resource_name, :url => registration_path(resource_name) ,  :validate => true) do |f| %>
	 
	   <%= render :partial => 'shared/error_messages', :locals => {:target => resource }%>

     <% if resource.payment_detail && !resource.payment_detail.errors.full_messages.blank? %> 
          <h5>Error in Payment</h5>
          <ul><% resource.payment_detail.errors.full_messages.each do |msg| %><li><%= msg %></li>
          <% end %></ul>
          <%#= render :partial => 'shared/error_messages', :locals => {:target => resource.payment_detail }%>
     <%end%> 

	   <%= render :partial => 'form', :locals => {:f => f}%>

	   <div class="form-actions">
	    <%= f.submit "Sign up" %>
	   </div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>


<script>
  $("#business , #premium").click(function(){

    $.ajax({
              type: "GET",
              url: "<%= new_payment_detail_url %>"
                })
              .done(function( data ) {
                  $( "#payment_detail" ).html( data );
                  $( "#payment_detail" ).slideDown();
          });         
  });


  $("#basic").click(function(){
       $("#payment_detail").slideUp();
       $("#payment_detail").html("");
  });


  if ($("#basic").is(':checked'))
    { 
       $("#payment_detail").remove();
    }


</script>