<div class="profile_cel3">
  <h2 class="heading_t"><span></span> Feedback’s</h2>
  <div class="right_rating_box">
	  <div class="right_row">
	      <div class="rat_left">Experience : </div>
	      <div class="rat_right">
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
	      </div>
	  </div>
	  <div class="right_row">
	      <div class="rat_left">Timeliness :  </div>
	      <div class="rat_right">
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
	      </div>
	  </div>
	  <div class="right_row">
	      <div class="rat_left">Quality Of Work : </div>
	      <div class="rat_right">
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
	      </div>
	  </div>
	  <div class="right_row">
	      <div class="rat_left">Experience : </div>
	      <div class="rat_right">
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
					<%= image_tag "star_1.png", :alt =>"star"%>
	      </div>
	  </div>
  </div>
  <h2 class="heading_t"><span></span> Feedback’s</h2>
  <div class="cmt_box">
		<div class="comment_r">
		  <div class="com_img_box">
		  	<%= image_tag "pic_1.jpg", :alt =>"img"%>
		  </div>
		  <div class="com_text">
		     <div class="arrow_c"></div>
		     <div class="com_text_left">
		       <h4 class="flag"><span>Soni me</span> 
		       	<%= image_tag "flag.png", :alt =>"flag" %>
		       </h4>
		       <p>You are most welcome.</p>
		     </div>
		     <div class="com_text_right">
			     <p>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
			     </p>
		     </div>
		     <div class="clear"></div>
		     <p class="date_p">
		     	15/11/2013 
		     </p>
		  </div>
		  <div class="clear"></div>
		  <p class="more_p"><a href="#">More..</a></p>
		</div>
		<div class="comment_r">
		  <div class="com_img_box">
		  	<%= image_tag "pic_2.jpg", :alt =>"img"%>
		  </div>
		  <div class="com_text">
		     <div class="arrow_c"></div>
		     <div class="com_text_left">
		       <h4>
		       	<span>Like Bro</span> 
		       	<%= image_tag "flag.png", :alt =>"flag" %>
		       </h4>
		       <p>You are most welcome.</p>
		     </div>
		     <div class="com_text_right">
			    <p>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
			    </p>
		     </div>
		     <div class="clear"></div>
		     <p class="date_p">
		     15/11/2013 </p>
		  </div>
		  <div class="clear"></div>
		  <p class="more_p"><a href="#">More..</a></p>
		</div>
	  <div class="comment_r">
		  <div class="com_img_box">
		  	<%= image_tag "pic_1.jpg", :alt =>"img"%>
		  </div>
		  <div class="com_text">
		    <div class="arrow_c"></div>
		    <div class="com_text_left">
		       <h4>
		       <span>Angel</span> 
		       	<%= image_tag "flag.png", :alt =>"flag"  %>
		       </h4>
		       <p>You are most welcome.</p>
		    </div>
		    <div class="com_text_right">
		     <p>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
						<%= image_tag "star_1.png", :alt =>"star"%>
		     </p>
		    </div>
		    <div class="clear"></div>
		    <p class="date_p">
		     15/11/2013 
		    </p>
		  </div>
		  <div class="clear"></div>
		  <p class="more_p"><a href="#">More..</a></p>
		</div>
  </div>
  <div class="clear"></div>
  <div class="see_more"><a href="#" class="btn_r2">See More Feedbacks</a></div>
</div>