<div class="ajaxful-rating-wrapper">
	<ul class="ajaxful-rating" style="width: 125px;">
		<li style="width: <%= percent_rate.to_f %>%" class="show-value">Global rating average: <%= y_star.to_f %> out of 5</li>
		<li>
			<span title="Global rating average: <%= y_star.to_f %> out of 5" class="stars-1"><%= y_star.to_f %></span>
		</li>
		<li>
			<span title="Global rating average: <%= y_star.to_f%> out of 5" class="stars-2"><%= y_star.to_f %></span>
		</li>
		<li>
			<span title="Global rating average: <%= y_star.to_f%> out of 5" class="stars-3"><%= y_star.to_f %></span>
		</li>
		<li>
			<span title="Global rating average: <%= y_star.to_f %> out of 5" class="stars-4"><%= y_star.to_f %></span>
		</li>
		<li>
			<span title="Global rating average: <%= y_star.to_f %> out of 5" class="stars-5"><%= y_star.to_f %></span>
		</li>
	</ul>
</div>