<!-- Seach Form Begins -->
<%= form_tag root_path, :method =>'get', html: { autocomplete: 'off' }, :id => "welcome_search" do %>
  <div class="row-fluid">
    <div class="search-box span12">
        <h1>I’ m Looking For</h1>
          <div class="search-bar">
            <div class="search-input">
              <span class="text">
                <%= text_field_tag :search, params[:search],class: "span12 search_input", placeholder: "What type of work are you looking for?" %>
              </span>
              <span class="search-btn">
                <input type="submit" name="" value="" />
              </span>
              
              </div>
          </div>
      </div>
  </div>
<% end %>
<!-- Seach Form End -->
  
<!-- Add Section begin -->
<div class="row-fluid">
  <div class="fea-frame">
      <ul class="fea-list">
          <li class="span4">
            <h2 class="heading">
              <span class="img">
                <%= image_tag("dollar-img.png", :alt =>"dollar") %>
              </span>
              <span class="text">
                earn money
              </span>
            </h2>
            <p>
              Get a free membership or earn big money selling for Trade-Labor
            </p>
            <span class="read-more">
              <a href="#">Read More...</a>
            </span>
          </li>
          <li class="span4">
            <h2 class="heading">
              <span class="img">
                <%= image_tag("lense-img.png", :alt =>"lense") %>
              </span>
              <span class="text">
                BARTER SKILLS
              </span>
            </h2>
            <p>Find People to Barter your skill with</p>
            <span class="read-more">
              <a href="#">Read More...</a>
            </span>                        
          </li>
          <li class="span4">
            <h2 class="heading">
              <span class="img">
                <%= image_tag("user-img.png", :alt =>"user") %>
              </span>
              <span class="text">REGISTER</span>
            </h2>
            <p>Browse and list your skills quickly and easily</p>
            <span class="read-more">
              <a href="#">Read More...</a>
            </span>                        
          </li>
      </ul>
    </div>
</div>

<div id="welcomeres">
                
</div>

<!-- Add Section end -->

