<div class="footer_main">
	<div class="footer">

    <p> 
    	<%= link_to  "Home" , "javascript:void(0)" %>
  		<%= link_to  "About" , "javascript:void(0)" %>
  		<%= link_to  "Services" , "javascript:void(0)" %>
  		<%= link_to  "Clients" , "javascript:void(0)" %>
  		<%= link_to  "Work" , "javascript:void(0)" %>
  		<%= link_to  "Contact" , "javascript:void(0)" %>
    </p>
    
    <ul class="social-icon">
        <li>
          <%= link_to image_tag("ph-icon.png") ,root_path , :id =>"logo-image" %>
        </li>
        <li>
          <%= link_to image_tag("in-icon.png") ,root_path , :id =>"logo-image" %>
        </li>
    </ul>

	  <div class="clear"></div>

	</div>
</div>


<div class="clear"></div>

<div class="footer_main2">
  Copyright 2013 trade-labor.com
</div>