<div class="row-fluid">
  <div class="header">
    <span class="logo span7">
      <%= link_to image_tag("logo.png") ,root_path , :id =>"logo-image" %>
    </span>
    <div class="right-head span5">
      <ul class="head-btns">
        <li class='button'>
          <span class="browse-btn">
            <%= link_to image_tag("browse-workers-btn.png") ,root_path , :id =>"logo-image" %>
          </span>
        </li>
        <li class='button' >
          <span class="browse-btn">
            <% if current_user %>

              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                  Account <span class="caret"></span>
                </button>
                <ul class="dropdown-menu account" role="menu">
                <li><%= image_tag "very_small_avtar.jpg" %></li>
                  <li>
                    <%= link_to "Profile", current_user%>
                  </li>
                  <li><%= link_to "Settings", 'javascript:void(0)',{:class => "setting_icon" } %></li>
                  <li class="divider"></li>
                  <li><%= link_to('Logout', destroy_user_session_path,{:class => "logout_icon" })%>
                  </li>
                </ul>
              </div>

            <% else %>
              <%= link_to image_tag("sign-in-btn.png"), new_user_session_path,  :id => "sign-in" %>
            <% end %>
          </span>
        </li>
      </ul>
    </div>
    </div>
</div>
