<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag :defaults %>
    <%= ajaxful_rating_style %>

    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <%= yield(:head) %>
  </head>


<body>
  <div class="main-frame">
    <div class="container">

      <%= render 'layouts/header' %>
    
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>

        <%= yield %>

        <%= render 'layouts/footer' %>
    </div>
  </div>
  Ï
</body>
</html>